<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 22.1.4 (https://github.com/llvm/llvm-project 35990504507d79e0b9deb809c8ee5e1b34ceef20)</string>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>13</integer>
      <key>col</key><integer>26</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>13</integer>
         <key>col</key><integer>26</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>13</integer>
         <key>col</key><integer>36</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>13</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>6</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>14</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>14</integer>
         <key>col</key><integer>12</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Assuming &apos;flag&apos; is not equal to 0</string>
     <key>message</key>
     <string>Assuming &apos;flag&apos; is not equal to 0</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>14</integer>
           <key>col</key><integer>12</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>9</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>15</integer>
           <key>col</key><integer>14</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>15</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential leak of memory pointed to by &apos;data&apos;</string>
     <key>message</key>
     <string>Potential leak of memory pointed to by &apos;data&apos;</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of memory pointed to by &apos;data&apos;</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>unix.Malloc</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>404c79ebf4b77faa36f836045ef9aa9c</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>leak_on_error</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>15</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>12</integer>
    <integer>13</integer>
    <integer>14</integer>
    <integer>15</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>21</integer>
      <key>col</key><integer>11</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>32</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;p&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;p&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;p&apos; during its initialization is never read</string>
   <key>category</key><string>Unused code</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>5882e82d6661bb5fcc0ef1d8dde19271</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>21</integer>
   <key>col</key><integer>11</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>21</integer>
   </array>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>21</integer>
      <key>col</key><integer>23</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>21</integer>
         <key>col</key><integer>32</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Memory is allocated</string>
     <key>message</key>
     <string>Memory is allocated</string>
    </dict>
    <dict>
     <key>kind</key><string>control</string>
     <key>edges</key>
      <array>
       <dict>
        <key>start</key>
         <array>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>21</integer>
           <key>col</key><integer>8</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
        <key>end</key>
         <array>
          <dict>
           <key>line</key><integer>23</integer>
           <key>col</key><integer>5</integer>
           <key>file</key><integer>0</integer>
          </dict>
          <dict>
           <key>line</key><integer>23</integer>
           <key>col</key><integer>10</integer>
           <key>file</key><integer>0</integer>
          </dict>
         </array>
       </dict>
      </array>
    </dict>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>23</integer>
      <key>col</key><integer>5</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Potential leak of memory pointed to by &apos;p&apos;</string>
     <key>message</key>
     <string>Potential leak of memory pointed to by &apos;p&apos;</string>
    </dict>
   </array>
   <key>description</key><string>Potential leak of memory pointed to by &apos;p&apos;</string>
   <key>category</key><string>Memory error</string>
   <key>type</key><string>Memory leak</string>
   <key>check_name</key><string>unix.Malloc</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>6a254607fbfe66d626417ddd0a0a9bd1</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>main</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>23</integer>
   <key>col</key><integer>5</integer>
   <key>file</key><integer>0</integer>
  </dict>
  <key>ExecutedLines</key>
  <dict>
   <key>0</key>
   <array>
    <integer>20</integer>
    <integer>21</integer>
    <integer>23</integer>
   </array>
  </dict>
  </dict>
 </array>
 <key>files</key>
 <array>
  <string>C:\Users\clenc\cs810-final-project\uploads\32075873-6094-4f55-bc0c-0f96f9592473\memory_leak.c</string>
 </array>
</dict>
</plist>
